* {
    /* box-sizing: border-box; */
    text-decoration: none;
  }

.header-section {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.quiz-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

button {
    border-radius: 7px;
    background-color: purple;
    color: white;
    
}
#quiz-question {
    color: blue; /* test the color */
    font-weight: bold;
}
li {
    background-color: purple;
    margin-top: 10px;
    margin-left: 100px;
    font-size: 14px;
    color: white;
    width: 50%;
    text-align: left;
}

#feedback {
    margin-top: 20px;
    border-top: 2px solid lightgray;
    font-size: 16px;
}
.hide {
    display: none;
}