* {
    /* box-sizing: border-box; */
    text-decoration: none;
  }

.header-section {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.quiz-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
/* 
.quiz-section h1{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.quiz-section p{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.quiz-section ul{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.quiz-section button{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */

button {
    border-radius: 7px;
    background-color: purple;
    color: white;
    
}

li {
    background-color: purple;
    margin-top: 10px;
    font-size: 18px;
    color: white;
}